 *{
    text-align: center;
    font-family: sans-serif;
}

h2{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
    
}
button{
    border: none;
    padding: 0 10px 0 10px;
    
    color: white;
    margin-bottom: 5px;
    border-radius: 5px;
    font-weight: bold;
   
    width: 200px;
}

#increment-btn{
    background-color: brown;
}
#save-btn{
    background-color: green;
} 